.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 70px;
  padding: 10px 25px;
  background-color: #961f1d;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.47);
  z-index: 20;
}
/* #961f1d */
/* #ab2321 */
/* rgba(150,31,29,0.8) */

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.logo-container:active {
  opacity: 0.5;
}

.logo {
  display: flex;
  width: 100px;
  height: 100%;
  z-index: 30;
}

.logo img {
  object-fit: contain;
  height: 50px;
}

.searcher-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* INPUT */
.styled-navbar-input {
  text-align: start;
  width: 400px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  padding: 10px;

  color: #a2a2a2;
  font-weight: 400;
  font-size: 16px;
}

.styled-navbar-input:focus {
  outline: none;
}

.cart-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;

  cursor: pointer;
}

.cart-icon {
  display: flex;
  height: 40px;
  z-index: 30;
  object-fit: contain;
}

.cart-icon-container:active {
  opacity: 0.5;
}
